body{
	font-family: "century gothic";
}
.container{
	text-align: center;
}
.text{
    border-radius: 20px;
    padding: 8vh 2vw;
    display: inline-block;
    margin: 2vh 8vw;

}


.car {
    margin: auto;
}




ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


ul.topnav li {float: right;}


ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 9px 19px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}


ul.topnav li a:hover {background-color: #555;}


ul.topnav li.icon {display: none;}
.caro{ display: flex;
  flex-direction: row;
  justify-content: space-between;
margin: 12vh 0vw;

}











@media screen and (max-width:680px){
    .text{
        font-size: 12px;
    }
ul.topnav li a {
    font-size: 15px;
  }
  ul.topnav li:not(:first-child) {display: none;
    }
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }

  ul.topnav.responsive {
      position: relative;
      display: flex;
      flex-direction: column-reverse;
    }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;

  }
}
